// Colors
$primaryColor: #802CD7;
$primaryDark: #2E124D;
$primaryLight: #FEE4DD;
$accentColor: #2BFCDC;

// Type
$ibmStack: 'IBM Plex Sans', sans-serif;

// Navigation fixed therefore margin
$navHeight: 90px;
$navMargin: 20px;